<!-- <nav class="navbar navbar-expand-lg topbar sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white">College Managment System</a>
        <div class="navbar-nav ms-auto">
             <button class="btn btn-success me-2">Login</button>
             <div class="circle">
                 <div class="content">
                      <small>H</small>
                 </div>
             </div>
        </div>
    </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg topbar">
    <a class="navbar-brand text-white">College Managment System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link text-white me-2">Login</a>
            <div class="nav-item circle">
                <div class="content">
                    <small>H</small>
                </div>
            </div>
        </div>
    </div>
</nav> -->

<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm topbar navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white">College Managment System</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-uto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">Logout</a>
        </li>
       <!-- <li class="nav-item circle">
          <a class="nav-link content">L</a>
        </li> -->
      </ul>
    </div>
  </nav>